.footer {
    background-color: #000;
    padding: 40px 0px;

    @media(min-width: 768px){
        padding: 56px 0px;
    }
    @media(min-width: 1200px){
        padding: 70px 0px;
    }
}

.footer-container {
    @extend %flex-column;
    align-items: center;
}

.footer-subtitle {
    color: #fff;
    margin-bottom: 8px;
    @media(min-width: 768px){
        margin-bottom: 22px;
    }
}

.footer-text {
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    text-align: center;
    margin-bottom: 26px;
    @media(min-width: 768px){
        font-size: 16px;
        margin-bottom: 37px;
        max-width: 680px;
        line-height: 28px;
    }
}

// Social media 
.footer-socialmedia {
    display: flex;
    margin-bottom: 25px;
    @media (min-width: 768px){
        margin-bottom: 34px;
    }
}

.circle {
    width: 34px;
    height: 34px;
    background-color: transparent;
    display: flex;
    @extend %flex-center;
    border-radius: 50%;
    margin: 0px 2.5px;

    &.wifi {
        border: 2px solid #bf6f23;
    }
    &.facebook {
        border: 2px solid #2c457a;
    }
    &.twitter {
        border: 2px solid #3588af;
    }
    &.dribble {
        border: 2px solid #a75e88;
    }
    &.pinterest {
        border: 2px solid #9d1922;
    }
}

.contacts {
    @extend %flex-column;
    max-width: 235px;
    text-align: center;
    @media (min-width: 768px){
       flex-direction: row;
       max-width: 615px;
    }
}

.footer-contacts {
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
    @media (min-width: 768px){
        font-size: 16px;
        line-height: 26px;
        &:not(:last-child){
            margin-right: 5px;
        }
    }
}
