
.header-container {
	display: flex;
	justify-content: flex-end;

	@media (min-width: 768px) {
		justify-content: center;
	}
}

.navigation__list {
	display: flex;
	justify-content: space-between;
	position: absolute;
	flex-direction: column;
	visibility: hidden;
	top: 60px;
	right: 5px;
	width: 182px;
	opacity: 0;
	transition: all .5s ease-in-out;
	z-index: 1;
	background-color: #F5F5F5;
		
	@media (min-width: 768px){
		justify-content: center;
		position: static;
		flex-direction: row;
		width: auto;
		align-items: center;
		margin: 40px auto;
		opacity: 1;
		background-color: transparent;
		transition: none;
		visibility: visible;
	}

	&--open {
		opacity: 1;
		visibility: visible;
	}
}

.navigation__link {
	display: block;
	font-family: $ff;
	font-size: 11px;
	line-height: 22px;
	letter-spacing: 1.1px;
	color: #4E4E4E;
	text-transform: uppercase;
	padding: 4px 0px 4px 12px;

	@media (min-width: 768px){
		padding: 0px 17px;
	}

	@media (min-width: 1200px){
		padding: 0px 34px;
	}

	&:hover {
		@media(min-width: 768px){
			transition: color .3s ease-in-out;
			color: #57A4A4;
		}
	}
	&:focus {
		color: #57A4A4;
		transition: all .3s ease-in-out;
		background-color: #E5E5E5;
		
		@media (min-width: 768px){
			background-color: transparent;
		}
	}
}

// Menu Burger
.menu-burger {
	position: relative;
	width: 44px;
	height: 37px;
	background-color: #000;
	cursor: pointer;
	margin: 23px 0px;

	@media (min-width: 768px){
		visibility: hidden;
	}

	& span {
		position: absolute;
		margin: 1px;
		width: 18px;
		height: 2px;
		background-color: #fff;
		display: block;
		transition: all .3s ease-in-out;
	}
}

.menu-burger span {
	&:nth-child(1){
		top: 13px;
		left: 13px;
	}
	&:nth-child(2),
	&:nth-child(3){
		top: 17px;
		left: 13px;
	}
	&:nth-child(4){
		top: 21px;
		left: 13px;
	}
}

.menu-burger--open span {
	&:nth-child(1),
	&:nth-child(4) {
		top: 17px;
		left: 50%;
		width: 0px;
	}
	&:nth-child(2) {
		transform: rotate(45deg);
	}
	&:nth-child(3) {
		transform: rotate(-45deg);
	}
}
