// Welcome section
.welcome-picture {
	max-width: 100%;
	object-fit: cover;
}

// Posts section 
.posts-section {
    padding: 39px 0;

    @media (min-width: 768px){
        padding: 60px 0px 30px 0px;
    }
}

.subtitle {
    text-transform: uppercase;
}

.posts-subtitle {
    margin-bottom: 24px;
}

.posts-list {
    @extend %flex-column;
    flex-wrap: nowrap;
    @media(min-width: 1200px){
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0px -12.5px;
    }
}

.posts-list__item {
    display: flex;
    flex-direction: column; 
    margin-bottom: 28px; 
    @media(min-width: 768px){
        flex-direction: row;
        margin-bottom: 32px; 
    }

    @media(min-width: 1200px){
        flex: 0 1 50%;
        padding: 0px 12.5px; 
    }

    &:nth-child(4) {
        @extend %d-none767;
    }
}

.post-block {
    @extend %flex-column;
    margin-top: 10px;
    @media(min-width: 768px){
        margin-top: 0px;
        margin-left: 20px
    }
}

.post-block__title,
.subtitle {
    line-height: 22px;
    font-size: 14px;
    color: #4E4E4E;
    font-weight: 700;
    @media (min-width: 768px){
        font-size: 16px;
    }
}

.post-block__subtitle {
    font-size: 11px;
    color: #7C7C7C;
    line-height: 20px;
    @media (min-width: 768px){
        font-size: 12px;
    }
}

.post-block__text {
    @extend %d-none767;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    margin-top: 13px;
    max-width: 380px;  
}

// Instagram Section
.instagram-section {
    padding: 38px 0px;
    @media(min-width: 768px){
        padding: 50px 0px;
        background-color: #F7f7f7;
    }
}

.instagram-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 13px;
    @media(min-width: 768px){
        justify-content: space-between;
        margin-bottom: 35px;
    }
    @media(min-width: 1200px){
        margin-bottom: 24px;
    }
}

.instagram-wrap__shot {
    @extend %d-none768;
}

.instagram-wrap__shots {
    @extend %d-none767;
}

.instagram-wrap__link {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    color: #4E4E4E;
    @extend %d-none767;
}

// Instagram posts 
.instagram-posts {
    display: flex;
    @media(min-width: 768px){
        margin: 0 -5px;
        }
    }

.instagram-posts__item {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        display: none;
    }
    flex: 0 1 100%;
    overflow: hidden;

    @media(min-width: 768px){
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            flex: 0 1 33.333%;
            display: block;
            padding: 0px 5px;
        }
    }

    @media(min-width: 1200px){
        &:nth-child(n){
            flex: 0 1 25%;
            display: block;
            padding: 0px 5px;
        }   
    }
}

.instagram-posts__photo {
    max-width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.05);
    }
}

