%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-center {
    align-items: center;
	justify-content: center;
}

%d-none767 {
    @media (max-width: 767px){
        display: none;
    }
};

%d-none768 {
    @media(min-width: 768px){
        display: none;
    }
}