// reset/normilize / _vars / _mixin / 
@import "./reset";
@import "./vars";
@import "./mixin";
@import "./header";
@import "./main";
@import "./footer";


.container {
	max-width: 340px;
	padding: 0px 10px;
	margin: 0 auto;
	position: relative;

	@media (min-width: 768px) {
		padding: 0px 15px;
		max-width: 768px;
	}
	@media (min-width: 1200px) {
		padding: 0px 15px;
		max-width: 1200px;
	}
};
